html{
    font-size: 100%;
}
body{
    color: #24292e;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    max-width: 960px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0 4%;
    text-align: center;
}


/* START HEADER
----------------------*/
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.image-area{
    margin-top: 20px;
    margin-left: 20px;
}
.list-area{
    margin-top: 9px;
}
.list-area ul{
    display: flex;
}
.list-area ul li{
    margin-right: 20px;
}
/* END HEADER
----------------------*/

/* START HERO
-----------------------*/
#hero {
    width: 100%;
    height: 680px;
    width: 100%;
}
.hero-content{
    display: flex;
    justify-content: space-between;
}
.hero-left-box{
    position: relative;
    width: 500px;
    height: 281px;
    top: 160px;
    left: 80px;
    background: #eff2f5;
    border-radius: 24px;
    z-index: 1;
}
.hero-substitute{
    width: 390px;
    height: 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 180%;
    color: #0071BC;
    margin: 40px 62px 0px 62px;
}
.hero-title{
    position: absolute;
    width: 390px;
    height: 160px;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0.05em;
    color: #333333;
    margin: 12px 62px 40px 62px;
}
.hero-image-area{ /* 左右画面余白 消したい */
    z-index: -1
}
.hero-image{
    width: 976px;
    height: 680px;
    border-radius: 80px 0px 0px 80px;
}
.scroll-area{
    position: relative;
    display: flex;
    width: 130px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    position: relative;
    top: -50px;
    left: 120px;
}
.scroll-area::before{
    content: "";
    width: 8px;
    height: 8px;
    margin-right: 6px;
    margin-top: 20px;
    display: inline-block;
    background-color: #7b7b7b;
    border-radius: 50%;
}
/* END HERO
-----------------------*/

/* START ABOUT
-----------------------*/
#about{
    width: 100%;
    height: 450px;
    margin-top: 90px;
}
.about-title{
    font-size: 36px;
    margin-bottom: 0;
}
.about-title-area p{
    font-size: 14px;
    margin-top: 8px;
    color: #0071BC;
    margin-bottom: 40px;
}
.about-content{
    width: 100%;
    height: 340px;
    display: flex;
    margin-left: -10px;
}
.about-content img{
    margin-right: 20px;
    margin-left: 0;
    width: 470px;
    height: 310px;
    border-radius: 24px;
}
.about-content p{
    margin-left: 20px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    padding-top: 50px;
}
/* START ABOUT
-----------------------*/

/* START CONTACT
-----------------------*/
#contact{
    width: 984px;
    height: 357px;
    margin: 0 auto;
    margin-top: 140px;
    justify-content: center;
    position: relative;
}
.background-image{
    width: 984px;
    height: 357px;
    background: url(/assets/img/bg-line.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 48px;
    z-index: -1;
}
.background-color{
    width: 984px;
    height: 357px;
    background-color: #0071BC;
    border-radius: 48px;
    opacity: 0.88;
    margin-top: -357px;
    z-index: 0;
}
.contact-title-area{
    position: relative;
    display: flex;
    text-align: center;
    margin-left: 320px;
    top: -320px;
}
.contact-title-area h2{
    color: white;
    font-weight: 700;
    font-size: 36px;
    line-height: 180%;
    margin-top: -6%;
}
.line-icon-area{
    position: relative;
    top: 5px;
    right: 10px;
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 20px;
}
.line-icon{
    position: relative;
    width: 40px;
    height:40px;
    margin-top: 3px;
    margin-right: 15px;
    top: -5px;
    background: no-repeat;
}

.more{
    position: relative;
    color: white;
    margin-top: -300px;
    margin-left: -6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    z-index: 7;
}
.btn-area{
    width: 320px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 98px;
    position: relative;
    left: 340px;
    top: 30px;
    

}
.btn-area a{
    position: relative;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #666666;
    top: 15px;
}
/* END CONTACT
-----------------------*/

/* START FOOTER
-----------------------*/
#footer{
    width: 100%;
    height: 200px;
    margin-top: 200px;
    border-top: 0.5px solid #333333;
    border-bottom: 0.5px solid #666666;
    padding-top: 60px;
    margin-bottom: 0;
}
#footer p{
    margin-top: 25px;
    font-size: 14px;
}
.footer-icon-area{
    position: relative;
    width: 150px;
    height: 50px;
    text-align: center;
    left: 400px;
    top: 20px;
}
.footer-icon-area ul{
    display: flex;
}
.footer-icon-area ul li{
    margin-right: 20px;
}
/* END FOOTER
-----------------------*/
.copy-right{
    width: 100%;
    height: 50px;
    text-align:center;
    margin: 0 auto;
    padding-top: 30px;
}
